extends layout

block content
  h1 #{title}
  br

  form(action="/completetask", method="post")
    table.table.table-striped.table-bordered
      tr
        td Name
        td Category
        td Date
        td Complete
      if (typeof tasks === "undefined")
        tr
          td
      else
        each task in tasks
          tr
            td #{task.name}
            td #{task.category}
            - var date  = new Date(task.date);
            - var day   = date.getDate();
            - var month = date.getMonth() + 1;
            - var year  = date.getFullYear();
            td #{month + "/" + day + "/" + year}
            td
              input(type="checkbox", name="#{task.id}", value="#{!task.completed}", checked=task.completed)
    button.btn(type="submit") Update tasks
  hr
  form.well(action="/addtask", method="post")
    label Item Name:
    input(name="name", type="textbox")
    label Item Category:
    input(name="category", type="textbox")
    br
    button.btn(type="submit") Add item
